header {
    color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    color: blue;
    text-align: center;
}
 #main {
    background-color: lightblue;
}
a {
    color: green;
    text-decoration: underline;
}
a:link {
    color: black;
}
a:visited {
    color: red;
}
a:hover {
    font-weight: bold;
}
a:active {
    text-decoration: none;
}